:root {
    --primery-font-family: Roboto, sans-serif;
    --primery-text-color: #757575;
    --primery-background-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
body {
    color: var(--primery-text-color);
    background-color: var(--primery-background-color);
    font-family: var(--primery-font-family)
}
/* основний колір текста #757575 */
/*колір заголовка h2,h3 #212121*/
/*колір hover #2196F3*/
/*колір button #2196F3*/
/*колір button active #188CE8, #ffffff*/
/*колір логотипа Web #2196F3, Studio #000*/
.container {
    width: 1200px;
    outline: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.footer-container{
    padding-bottom: 45px;
    padding-top: 45px;
    display: flex;
}
.look-around{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
    text-decoration: none;
    padding-right: 101px;
}
.logo-black {
    color: #000;
}
.logo-white {
    color: #ffffff;
}
.nav {
    list-style-type: none;
    display: flex;
}
.nav .nav-link.current {
    color: #2196F3;
    position: relative;
    padding-bottom: 30px;
   
}
.nav-link.current::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
}
.nav-link {
    color: #212121;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    text-decoration: none;
    margin-right: 50px;
    

}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
}
.list-nav {
    list-style-type: none;
    display: flex;
    height: 16px;
    align-items: center;
}
.address{
     margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.address-studio {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    text-decoration: none;
   
}
.mail,
.phone {
    display: flex;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    text-decoration: none;
    padding-right: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 16px;
}
.post,
.telephone{
    margin-right: 10px;
    height: 12px;
}
.post:hover,
.telephone:hover,
.post:focus,
.telephone:focus{
fill: #2196F3;
}
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
    color: var(--accent-color);
}
.hero {
    background: #C4C4C4;
    background-image: url(../images/header/Img-hero.png);
}
.title {
    color: #FFF;

    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 235px;
    padding-right: 235px;
}
.btn {
    height: 50px;
    width: 216px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 87;
    /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
    margin-left: 470px;
    margin-bottom: 200px;
}
.btn:hover,
.btn:focus {
    color: #188CE8;
    background: #ffffff;
}
.noname-container {
display: flex;
}

.items {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 94px;
    margin-top: 94px;
}
.point{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 270px;
    height: 248px;
    margin-right: 30px;
}
.icoli{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1)
    }
.icoli:hover{
    border-color: #188CE8;
}
.point-icon{
    fill: #212121;
}
.icoli:hover .point-icon,
.icoli:focus .point-icon{
    fill: #188CE8;
}
.caption {
    color: var(--title-text-color);
    font-family: var(--primery-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin: 0;
}
.text {
    color: var(--primery-text-color);
    font-family: var(--primery-font-family);
    font-size: 14px;
    line-height: 1.7;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin: 0;
}
.subject {
    color: var(--title-text-color);
    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    padding-top: 94px;
    margin: 0;
    padding-bottom: 50px;
}
.list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: auto;
    padding-bottom: 94px;
    }
.applic {
     position: relative;
        }
.picture-head {
    color: #ffffff;;
}
.picthe {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 370px;
    height:70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    background-color: #FFF;
}
.four{
    margin-right: 0;
}
.picture {
    text-decoration: none;
    margin-right: 30px;
}
.our-team {
    background-color: #F5F4FA;
    margin-left: auto;
    margin-right: auto;
    
}
.desc {
    color: #757575;

    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.headline {
    color: var(--title-text-color);
    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
}
.socials-list{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: auto;
    padding-bottom: 30px;
}
.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.socials-link:hover{
    background-color: #2196F3;
}
.socials-icon{
    fill: rgba(196, 196, 196, 1);
}
.socials-icon:hover{
    fill: #FFF;
}
.customers-list{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-bottom: auto;
    padding-bottom: 94px;
}
.customers-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(196, 196, 196, 1);
}
.customers-icon{
    fill: rgba(196, 196, 196, 1);
}
.customers-link:hover{
    border-color: #2196F3;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    fill:#2196F3; 
}
.footer {
    background: #2F303A;
}
.addr-lo{
    margin-right: 70px;
}
.footer .mail,
.footer .phone {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    /* 171.429% */
    letter-spacing: 0.42px;
}
.for-ma{
    display: flex;
}
/*стиль portfolio*/
.title-hidden {
    color: #000;
    padding-left: 600px;
}
.filter {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-top: 94px;
    margin-top: 0;
    margin-bottom: 0;

}
.button-filter-all {
    color: #FFF;
    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #2196F3;
    margin-right: 8px;
    margin-right: 8px;
    padding: 6px 22px;
}
.button-filter {
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-family: var(--primery-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
    margin-right: 8px;
    padding: 6px 22px;
}
.button-filter:hover,
.button-filter:focus {
    background: #2196F3;
    color: #FFF;
}
.ad-container{
outline: 1px solid blueviolet;
padding: 0;
}

.link {
    text-decoration: none;
    list-style-type: none;
}
.list-links {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 34px;
    padding-bottom: 94px;
    padding-left: 0;
    flex-direction: row;
    justify-content: center;
}
.picture{
    outline: 1px solid hsla(260, 11%, 95%, 1);
    display: flex;
}
.right-picture{
    margin: 0;
}
.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}
.portfolio-cover-text{
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    padding: 40px;
    background-color: #188CE8;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
}
.picture-1{
    margin-bottom: 30px;
    margin-right: 30px;
    outline: 1px solid hsla(260, 11%, 95%, 1);
    display: flex;
}
.picture-1:hover .portfolio-cover-text{
    transform: translateY(0);
}
.picture:hover .portfolio-cover-text{
    transform: translateY(0);
}
.right-picture-2{
    margin: 0;
    margin-bottom: 30px;
}
.heading {
    color: var(--title-text-color);
    font-family: var(--primery-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    /* 200% */
    letter-spacing: 1.08px;
    margin-left: 24px;
}
.slogan {
    color: var(--primery-text-color);
    font-family: var(--primery-font-family);
    font-size: 16px;
    line-height: 1.9x;
    /* 187.5% */
    letter-spacing: 0.48px;
    margin-left: 24px;
}
.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.5);
}
.backdrop is-hidden{
    opacity: 0px;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    min-width: 400px;
    padding: 15px;
    background-color: #FFF;
}   

